.nav-link{
    color: green;
}
.hero {
  height: 100vh;
  background: url('images/bg-hero.jpeg');
  background-repeat: no-repeat;            
  background-position: center;             
  background-size: cover;   
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  color: #14532d;;
}
 .locs{
  justify-content: center;
  align-items: center;
  text-align: center;
 }
 .loc{
text-align: center;
 }
 .card{
  padding: 5px;
  border: none;
  border-radius: 12px;
 }
body {
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  color: #333;
}
.card h5{
  font-weight: bold;
}
#about, #location, #cuisine {
    padding-top: 20px; /* optional extra spacing */
}
